@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

* {
  @apply transition-colors duration-200;
}

.dark {
  filter: invert(1);
}

.dark .primary {
  filter: invert(1);
}
